{% extends 'layout/dashboard/index.html' %} 
{% block content %}
<title>SPK | Rekomendasi</title>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Data Mahasiswa</h2>
            </div>
            <div class="row clearfix">
            <div class="col-md-12">
<div class="card">
    <div class="body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                <thead>
                    <th>No</th>
                    <th>Nim</th>                 
                    <th>Nama</th>                    
                    <th>Rekomendasi</th>
                    <th>Index</th>
                    <th>Details</th>
                </thead>
                <tbody>
                    {% for dr in data_rekomendasi %}
                    <tr>
                        <td>{{forloop.counter}}</td>                        
                        <td>{{dr.0}}</td>                   
                        <td>{{dr.1}}</td>                   
                        <td>{{dr.2}}</td>                                           
                        <td>{{dr.3}}</td>                                           
                        <td>
                        <a href="{% url 'mahasiswa:detail_mahasiswa' %}" class="btn btn-info btn-sm"><i class="material-icons">announcement</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}
