{% extends 'layout/dashboard/index.html' %} 
{% block content %}
<title>Detail | Mahasiswa</title>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Data Mahasiswa</h2>
            </div>
            <div class="row clearfix">
            <div class="col-md-12">
<div class="card">
    <div class="body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                <thead>
                    <th>No</th>
                    <th>Leaving Flow</th>                 
                    <th>Entring Flow</th>
                    <th>Net Flow</th>
                    <th>Alternatif</th>
                </thead>
                <tbody>
                    {% for dr in detail_mahasiswa %}
                    <tr>
                        <td>{{forloop.counter}}</td>                        
                        <td>{{dr.0}}</td>                   
                        <td>{{dr.1}}</td>                   
                        <td>{{dr.2}}</td>                                           
                        <td>{{dr.3}}</td>
                    </tr>
                    {% endfor %}                    
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}
